name: Compilar PS2 ELF
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    container: ps2dev/ps2dev:latest
    steps:
      - uses: actions/checkout@v4

      - name: Compilar
        run: |
          export PATH=$PATH:/usr/local/ps2dev/ee/bin:/usr/local/ps2dev/iop/bin:/usr/local/ps2dev/dvp/bin:/usr/local/ps2dev/ps2sdk/bin
          ee-g++ -D_EE -O2 -G0 -Wall -I/usr/local/ps2dev/ps2sdk/ee/include -I/usr/local/ps2dev/ps2sdk/common/include -I. main.cpp -o terraria.elf -L/usr/local/ps2dev/ps2sdk/ee/lib -ldraw -lgraph -lmath -lkernel -lstdc++ -fno-exceptions -fno-rtti

      - name: Subir Resultado
        uses: actions/upload-artifact@v4
        with:
          name: Juego-Terraria-PS2
          path: terraria.elf
          
