name: Compilar PS2 ELF
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    container: ps2dev/ps2dev:latest
    steps:
      - uses: actions/checkout@v4 # Actualizado a v4

      - name: Compilar
        run: |
          ee-g++ -D_EE -O2 -G0 -Wall -I$PS2SDK/ee/include -I$PS2SDK/common/include -I. main.cpp -o terraria.elf -L$PS2SDK/ee/lib -ldraw -lgraph -lmath -lkernel -lstdc++ -fno-exceptions -fno-rtti

      - name: Subir Resultado
        uses: actions/upload-artifact@v4 # Actualizado a v4
        with:
          name: Juego-Terraria-PS2
          path: terraria.elf
          
          
